<!DOCTYPE html>
{%extends 'base.html'%}
{%load static%}
{% block body_block%}

	<div class="flex-container">

		<div class="flexbox">
			<div>
				<img src="https://i.ibb.co/g9fjx63/medicine-icon.png" >
				<div>E-Pharmacy</div>
				<div style="text-align: center;">Order medicines and health products online and get it delivered
				at home from licensed pharmacies</div></div>
			<div>
				<img src="https://i.ibb.co/16Q1CBW/ask-a-doctor-icon.png" >
				<div class="flextext">Online Consultations</div>
				<div style="text-align: center;">Consult qualified and registered doctors on chat for free</div></div>
			<div>
				<img src="https://i.ibb.co/nmL1brc/lab-test-icon.png" >
				<div>Labs Tests</div>
				<div style="text-align: center;">Book lab tests online for hassle-free,home sample collection service.
				Get reports online.</div></div>
			<div>
				<img  src="https://i.ibb.co/56mR9QL/authentic.png" >
				<div class="flextext">Authentic Information</div>
				<div style="text-align: center;">Read medicine and health content written by qualified doctors and health professionals</div></div>
			</div>
			<div class="style__free-text-2___3Kmvs">
				<div>MedsOnline brings to you an online platform, which can be accessed for all your health needs. We are trying to make healthcare a hassle-free experience for you. Get your allopathic, ayurvedic, homeopathic medicines, vitamins & nutrition supplements and other health-related products delivered at home. Lab tests? That too in the comfort of your home. Doctor consult? Yes, we got that covered too.</div></div>



		    </div>
		    <div>
		    	<div>
		    		<h2 style="text-align: center;">The idea</h2>
		    		<p style="text-align: center;">In healthcare, the information around our medicines and lab tests is either unavailable or incomprehensible to us.<br><br>
					So we decided to create a platform that stood for transparent, authentic and accessible information for all.<br><br>
					This idea grew into a company and MedsOnline was created in 2019.</p>
		    	</div>
		    	<div>
		    		<h2 style="text-align: center;">What we offer</h2>
		    		<p style="text-align: center;">We provide accurate, authoritative & trustworthy information on medicines and help people use their medicines effectively and safely.<br><br>
					We get medicines and other health products delivered at home in 1000+ cities across India from licensed and verified pharmacies.<br><br>
					We also provide diagnostic services from certified labs and online doctor consults at any time, from anywhere.</p>
		    	</div>
		    </div>



</div>
{%endblock%}