
<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- This is the Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans:300,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css'%}">


</head>
<body>
    <div class="container">
            <!-- Navigation -->
            <nav class="navbar navbar-expand-lg navbar-dark sticky-top">

                <nav class="navbar navbar-light">
                    <a class="navbar-brand" href="index.html">
                      <img src="media/home/medlogo.png" alt="PharmCart Logo">
                    </a>
                  </nav>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>


                    <!-- BUTTON - DROPDOWN -->

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav ml-auto float-right">
                          <li class="nav-item btn btn-outline-light" style="width: 120px;">
                          <a class="nav-link text-white" href="#">Home</a>
                        </li>

                        <li class="nav-item dropdown btn btn-outline-light mr-4" style="width: 120px;">
                          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Products
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Ham</a>
                            <a class="dropdown-item" href="#">Beef</a>
                            <a class="dropdown-item" href="#">Chicken</a>
                            <a class="dropdown-item" href="#">Fish</a>
                          </div>
                        </li>


                   <!-- BUTTON - NORMAL -->
                        <li class="nav-item btn btn-outline-light" style="width: 120px;">
                          <a class="nav-link text-white" href="#">Ask Doctor</a>
                        </li>
                          <li class="nav-item btn btn-outline-light" style="width: 120px;">
                          <a class="nav-link text-white" href="#">Contact</a>
                        </li>

                      </ul>
                    </div>
                  </nav>


                  <!-- Jumbotron -->

                  <div class="jumbotron">

                    <div class="row">
                      <div class="col-12 col-md-7 text-center text-md-left">
                          <h1 class="display-3 text-white drop-shadow">The PharmCart</h1>
                          <p class="lead">The Online Medical Store</p>

                          <a class="btn btn-outline-light btn-lg mt-4 px-5 py-3 mb-5 mb-md-0" href="#" role="button">Collect Samples</a>

                      </div>
                      <div class="col-12 col-md-5">
                          <img src="media/home/medicine-first.png" alt="medicine bottle" class="img-fluid">
                      </div>
                    </div>

                  </div>
            {% block body_block%}

            {%endblock%}


    </div>

    <!-- This is the Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>