
<!DOCTYPE html>
{%extends 'base.html'%}
{%load static%}
{% block body_block%}



  <!-- Founders Message -->

  <div class="row">
    <div class="col-12 col-md-4">
      <img src="media/home/chemist-2026442_640.png" class="img-fluid border rounded-left border-lg border-0" alt="chemist Founder">
    </div>
    <div class="col-12 col-md-8 bg-white p-5 d-flex align-items-center border border-dark rounded-right border-lg">
      <section>
            <h2>Message from our founder</h2>
            <p>We are delighted to  welcome you to our pharmCart.As this is a medical store we have some
                regulations and conditions for the products</p>
              <p>For some category of the medicine you need to upload the prescription to place the order.
                  We will refund the amount incase the prescription is not valid.
                  We have the option to collect your samples for Lab test*.The order should be above Rs 150 to
                  place the order.Free delivery for the products of order above Rs500.</p>
              <p>You can contact the pharmacist or ask our available doctors thorugh our portal to clarify
                  anything regarding the medicines.Thanks for your corporation</p>
              <p>*conditions apply and will be charged for transport</p>
      </section>
</div>
</div>

                <div><br/></div>
                <div><br/></div>
                  <!-- Carousel -->

                  <div id="carouselExampleControls" class="carousel slide d-none d-md-block carousel-fade" data-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active" data-interval="500">
                            <img src="media/home/labtest.png" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item" data-interval="500">
                            <img src="media/home/medineyello.png" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item" data-interval="500">
                            <img src="media/home/docserv.png" class="d-block w-100" alt="...">
                          </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
    <div align="center"><br/>
                        <h3>Shop by Category</h3>

            </div>

                <!-- Cards -->
<div class="card-deck my-5">

                  <div class="card shadow" style="width: 18rem;">
                      <img src="media/home/leaf-med.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                          <h5 class="card-title">Medicine</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                              content.</p>
                          <a href="http://www.bringyourownlaptop.com" class="btn btn-primary stretched-link">Go somewhere</a>
                      </div>
                  </div>


                  <div class="card shadow" style="width: 18rem;">
                      <img src="media/home/Wellnessproducts.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                          <h5 class="card-title">Wellness</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                              content.</p>
                          <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
                      </div>
                  </div>


                  <div class="card shadow" style="width: 18rem;">
                      <img src="media/home/mombabykitchen.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                          <h5 class="card-title">Women and Baby</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                              content.</p>
                          <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
                      </div>
                  </div>
                </div>









{%endblock%}